@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: #FFFFFF; 
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-color: #343541; 
  }
}
*/

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: rgb(var(--foreground-rgb));
  background: var(--background-color); 
}

h1{
  font-size: 36px;
}


/*temporary dropdown css*/


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color:black;
}

.dropdown:hover .dropdown-content {
  display: block;
}