/*import '@/globals.css'*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-green{
    @apply bg-[#52DB78] text-[#253D84];
  }

  .btn-black{
    @apply bg-[#333333] text-[#FFFFFF];
  }

  .btn-blue{
    @apply bg-[#253D84] text-[#52DB78];
  }

  .btn-gray{
    @apply bg-[#F5F5F5] text-[#333333];
  }

  .btn-uno{
    @apply bg-[#006DB7] text-[#333333];
  }

  .btn-legoi{
    @apply bg-[#5FA82C] text-[#333333];
  }

  .btn-giromex{
    @apply bg-[#E20613] text-[#333333];
  }

  .btn-sharemoney{
    @apply bg-[#0066CC] text-[#333333];
  }

  .btn{
    @apply bg-white text-[#253D84] border-2 border-[#253D84];
  }
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: #FFFFFF; 
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-color: #343541; 
  }
}
*/

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: rgb(var(--foreground-rgb));
  background: var(--background-color); 
}


h1 {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
  font-weight: bold;
}

h2 {
  font-size: 1.5rem; /* 24px */
  line-height: 3rem; /* 32px */
  font-weight: bold;
}

h3 {
  font-size: 1.375rem; /* 22px */
  line-height: 1.75rem; /* 28px */
  font-weight: bold;
}

p {
  font-size: 1rem; /* 16px */
  line-height: 28px; /* 24px */
}


@media (min-width: 768px) { /* md breakpoint */
  h1 {
    font-size: 46px; /*  */
    line-height: 52px;
  }

  h2 {
    font-size: 1.5rem; /* 24px */
  }

  h3 _{
    font-size: 24px;

  }

  p {
    font-size: 1.125rem; /* 18px */
  }
}

